div {
    text-align: center;
    border : 5px solid #764abc;
    margin: 10px;
    color : #764abc;
    padding: 10px;
}

.flex_box {
    display: flex;
    justify-content: center;
}

.flex_box>div{
    width: 50%;
}